<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer_title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ligula vitae neque mollis iaculis sed id turpis. Sed facilisis felis leo, vel sodales ex consectetur sodales. Maecenas cursus vulputate arcu a blandit. Aenean sit amet ante ut sem consequat tempor sit amet in nulla. Etiam id porta dui. Donec nec lectus sit amet velit malesuada tincidunt. Maecenas nunc ante, egestas maximus sollicitudin non, luctus vitae augue. Integer id felis sollicitudin, aliquam ante nec, vulputate ex.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>